{% extends 'layouts/default/default.html.twig' %}

{% block title %}Nouveau mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <section class="px-4">
        <h1 class="text-4xl font-bold py-12 dark:text-white">
            {{ app.user.firstname }} {{ app.user.lastname }}
        </h1>

        {# Navigation #}
        {% include 'account/_nav.html.twig' %}

        <section class="mt-16 lg:mx-auto lg:w-2/3 xl:w-1/2">
            {# Formulaire d'informations personnelles #}
            {{ form_start(form) }}
                <h2 class="text-3xl font-bold mb-12 pb-4 border-b border-gray-200 dark:border-gray-600 dark:text-white">
                    Nouveau mot de passe
                </h2>

                {# Alerte en cas de succès #}
                {% include 'components/_alert.html.twig' with { 'flashes': app.flashes('success'), 'type': 'success' } only %}

                {% if app.user.password is not empty %}
                    <div class="mb-6 dark:text-gray-300">
                        {{ form_label(form.oldPassword) }}
                        {{ form_widget(form.oldPassword) }}
                        <span class="errors">{{ form_errors(form.oldPassword) }}</span>
                    </div>
                {% endif %}

                <div class="sm:flex sm:items-start sm:space-x-6 sm:mb-4">
                    <div class="mb-4 sm:mb-0 sm:w-1/2 dark:text-gray-300">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                        <span class="errors">{{ form_errors(form.password.first) }}</span>
                    </div>
                    <div class="mb-4 sm:mb-0 sm:w-1/2 dark:text-gray-300">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                        <span class="errors">{{ form_errors(form.password.second) }}</span>
                    </div>
                </div>

                {{ form_row(form._token) }}
                <button class="btn btn-blue py-3 mt-4 w-full md:w-auto">Sauvegarder les changements</button>
            {{ form_end(form, { 'render_rest': false }) }}
        </section>
    </section>
{% endblock %}
