<nav>
    <div class="container mx-auto py-3">
        <div class="relative flex justify-between items-center py-4 px-4">
            <a href="{{ path('course_index') }}"
               title="WriteCode - Plateforme de cours sur le développements Web"
               aria-label="WriteCode - Plateforme de cours sur le développements Web"
               class="tracking-wide font-light text-gray-800 text-3xl transition ease-in dark:text-white"
            >
                write<span class="text-red-500 font-normal">code</span>
            </a>

            <ul class="flex flex-row items-center space-x-6 xl:hidden">
                <li data-controller="search" data-action="click->search#toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7 cursor-pointer text-gray-500 transition ease-in dark:text-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </li>

                {% if app.user %}
                    <li>
                        <a href="{{ path('account_index') }}" title="Mon compte" aria-label="Mon compte">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-500 transition ease-in dark:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}" title="Se déconnecter" aria-label="Se déconnecter">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-500 transition ease-in" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_login') }}" title="Se connecter" aria-label="Se connecter">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-500 transition ease-in" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                            </svg>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="hidden flex justify-between items-center w-10/12 xl:flex">
                <ul class="flex items-center space-x-12 text-lg">
                    <li>
                        <a href="{{ path('course_index') }}"
                           title="Les tutoriels" aria-label="Les tutoriels"
                           class="text-gray-500 hover:text-red-500 transition ease-in dark:text-gray-300"
                        >
                            Tutoriels
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('trainings_index') }}"
                           title="Les formations" aria-label="Les formations"
                           class="text-gray-500 hover:text-red-500 transition ease-in dark:text-gray-300 {{ app.request.pathinfo is same as('/formations') ? 'text-red-500' : '' }}"
                        >
                            Formations
                        </a>
                    </li>
                    {% if not app.user or not app.user.subscription %}
                        <li>
                            <a href="{{ path('premium_index') }}"
                               title="Devenir Premium" aria-label="Devenir Premium"
                               class="text-red-500 font-medium hover:text-red-500 transition ease-in {{ app.request.pathinfo is same as('/formations') ? 'text-red-500' : '' }}"
                            >
                                Devenir Premium
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="flex items-center justify-end space-x-6">
                    <li data-controller="search" data-action="click->search#toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 cursor-pointer text-gray-500 hover:text-gray-800 transition ease-in dark:text-gray-300 dark:hover:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </li>
                    {% if app.user is null %}
                        <li>
                            <a href="{{ path('app_login') }}"
                               title="Se connecter" aria-label="Se connecter"
                               class="text-gray-500 hover:text-red-500 px-4 transition ease-in dark:text-gray-300 dark:hover:text-white"
                            >
                                Se connecter
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}"
                               title="Ouvrir un compte" aria-label="Ouvrir un compte"
                               class="btn btn-gradient-red py-3 transition ease-in"
                            >
                                Ouvrir un compte
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('account_index') }}"
                               title="Mon compte" aria-label="Mon compte"
                               class="text-gray-500 hover:text-red-500 transition ease-in dark:text-gray-300"
                            >
                                Hi {{  app.user.firstname }} ! 👋 Accéder à mon compte
                            </a>
                        </li>

                        {# Compte Premium #}
                        {% if app.user.subscription  %}
                            <li>
                                <span class="flex items-center justify-center rounded-full text-yellow-800 bg-yellow-300 text-sm font-bold px-4 py-1">
                                    🤩 Premium
                                </span>
                            </li>
                        {% endif %}

                        {# Administration #}
                        {% if is_granted('ROLE_MODERATOR') %}
                            <li>
                                <a href="{{ path('admin_course_list') }}"
                                   title="Administration" aria-label="Administration"
                                   class="text-red-500 hover:text-red-300 transition ease-in"
                                >
                                    Administration
                                </a>
                            </li>
                        {% endif %}

                        {# Déconnexion utilisateur #}
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <li>
                                <a href="{{ impersonation_exit_path(path('admin_user_list')) }}"
                                   class="text-yellow-500 transition ease-in hover:text-red-400"
                                   title="Se déconnecter de l'utilisateur"
                                   aria-label="Se déconnecter de l'utilisateur"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mt-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                    </svg>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_logout') }}"
                                   class="text-red-500 transition ease-in hover:text-red-400"
                                   title="Se déconnecter"
                                   aria-label="Se déconnecter"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mt-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% include 'components/_search.html.twig' %}
