{% extends 'layouts/admin/default.html.twig' %}

{% block title %}Édition d'un abonnement - {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr': { 'id': 'form-admin' }}) }}
        <div class="h-44 bg-gray-100 my-auto pt-16">
            <div class="pl-20 w-4/5">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <a href="{{ path('admin_premium_list') }}" class="text-red-500 hover:text-red-300 transition ease-in-out mt-1 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-7 w-7">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                            </svg>
                        </a>
                        <h1 class="text-5xl text-gray-700">Édition d'un abonnement</h1>
                    </div>
                    <div class="flex items-center space-x-4">
                        <a href="{{ path('admin_premium_list') }}" class="btn btn-outline my-auto py-3">Annuler</a>
                        <button class="btn btn-green my-auto py-3">Sauvegarder les changements</button>
                    </div>
                </div>
            </div>
        </div>

        {# Formulaire de modification d'un abonnement #}
        <div class="flex items-center pt-12 pl-20 w-4/5">
            <div class="w-4/6 mb-6 mr-12">
                {{ form_label(form.promotionalText) }}
                {{ form_widget(form.promotionalText) }}
                <span class="errors">{{ form_errors(form.promotionalText) }}</span>
            </div>
            <div class="mb-6">
                {{ form_label(form.promote) }}
                <label for="promote_promote" class="flex items-center cursor-pointer mt-1">
                    <div class="relative">
                        {{ form_widget(form.promote, { 'attr': { 'class': 'hidden' }}) }}
                        <!-- inner line -->
                        <div class="toggle_line w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
                        <!-- dot -->
                        <div class="toggle_dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
                    </div>
                </label>
                <span class="errors">{{ form_errors(form.promote) }}</span>
            </div>
            {{form_widget(form._token)}}
        </div>
    {{ form_end(form, { render_rest: false }) }}
{% endblock %}
