{% extends 'layouts/admin/default.html.twig' %}

{% block title %}Nouvel article - {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr': { 'id': 'form-admin' }}) }}
        {{ form_row(form._token) }}
        <div class="h-44 bg-gray-100 my-auto pt-16">
            <div class="pl-20 w-4/5">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <a href="{{ path('admin_course_list') }}" class="text-red-500 hover:text-red-300 transition ease-in-out mt-1 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-7 w-7">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                            </svg>
                        </a>
                        <h1 class="text-5xl text-gray-700">Nouvel article</h1>
                    </div>
                    <div class="flex items-center space-x-4">
                        <a href="{{ path('admin_course_list') }}" class="btn btn-outline my-auto py-3">Annuler</a>
                        <button class="btn btn-green my-auto py-3">Enregistrer l'article</button>
                    </div>
                </div>
            </div>
        </div>

        {# Formulaire de création d'un nouvel article #}
        <section class="pt-12 pl-20 w-4/5">
            <div class="flex items-start space-x-6">
                <div class="w-9/12">
                    <div class="mb-6">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                        <span class="errors">{{ form_errors(form.title) }}</span>
                    </div>
                    <div class="mb-6">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content, { 'attr': { 'rows': 20 }}) }}
                        <span class="errors">{{ form_errors(form.content) }}</span>
                        <span class="block text-sm text-gray-400 pt-2">
                            Écrire l’article en markdown. Besoin d’aide ?
                            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="block text-blue-500 group-hover:text-blue-300">
                                https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
                            </a>
                        </span>
                    </div>
                </div>
                <div class="w-3/12">
                    <h2 class="text-2xl font-bold mb-4">Informations</h2>
                    <div class="mb-6">
                        {{ form_label(form.picture) }}
                        <img src="" id="preview" alt="Preview" class="hidden rounded w-full mt-6" height="350" width="220">
                        <label class="w-full pt-4 cursor-pointer">
                            <span class="mt-2 leading-normal text-green-500 hover:text-green-300">Ajouter une image</span>
                            {{ form_widget(form.picture, { 'attr': { 'class': 'hidden' }}) }}
                        </label>
                        <span class="errors">{{ form_errors(form.picture) }}</span>
                        <span class="text-sm text-gray-400">Taille : 1280x800px. Poids: 1Mo max.</span>
                    </div>
                    <div class="mb-6" data-controller="datepicker">
                        {{ form_label(form.technology) }}
                        {{ form_widget(form.technology, { 'attr': { 'class': 'h-40' }}) }}
                        <span class="errors">{{ form_errors(form.technology) }}</span>
                    </div>
                    <div class="mb-6" data-controller="datepicker">
                        {{ form_label(form.created_at) }}
                        {{ form_widget(form.created_at, { value: 'now'|format_datetime(pattern='dd-MM-yyyy HH:mm') }) }}
                        <span class="errors">{{ form_errors(form.created_at) }}</span>
                    </div>
                    <div class="flex items-center justify-between space-x-6">
                        <div class="w-1/2 mb-6 flex items-center space-x-4">
                            {{ form_label(form.draft) }}
                            <label for="course_draft" class="flex items-center cursor-pointer mt-1">
                                <div class="relative">
                                    {{ form_widget(form.draft, { 'attr': { 'class': 'hidden' }}) }}
                                    <!-- inner line -->
                                    <div class="toggle_line w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
                                    <!-- dot -->
                                    <div class="toggle_dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
                                </div>
                            </label>
                            <span class="errors">{{ form_errors(form.draft) }}</span>
                        </div>
                        <div class="w-1/2 mb-6 flex items-center space-x-4">
                            {{ form_label(form.premium) }}
                            <label for="course_premium" class="flex items-center cursor-pointer mt-1">
                                <div class="relative">
                                    {{ form_widget(form.premium, { 'attr': { 'class': 'hidden' }}) }}
                                    <!-- inner line -->
                                    <div class="toggle_line w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
                                    <!-- dot -->
                                    <div class="toggle_dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
                                </div>
                            </label>
                            <span class="errors">{{ form_errors(form.premium) }}</span>
                        </div>
                    </div>
                    <h2 class="text-2xl font-bold pt-6 mb-4">Notifications</h2>
                    <div class="mb-6 flex items-center space-x-6">
                        {{ form_label(form.notifications) }}
                        <label for="course_notifications" class="flex items-center cursor-pointer mt-1">
                            <div class="relative">
                                {{ form_widget(form.notifications, { 'attr': { 'class': 'hidden' }}) }}
                                <!-- inner line -->
                                <div class="toggle_line w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
                                <!-- dot -->
                                <div class="toggle_dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
                            </div>
                        </label>
                        <span class="errors">{{ form_errors(form.notifications) }}</span>
                    </div>
                </div>
            </div>
        </section>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
