{% extends 'layouts/admin/default.html.twig' %}

{% block title %}Formations - {{ parent() }}{% endblock %}

{% block body %}
    <div class="h-44 bg-gray-100 my-auto pt-16">
        <div class="pl-20 w-4/5">
            <div class="flex justify-between">
                <h1 class="text-5xl text-gray-700">Formations</h1>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_training_new') }}" class="btn btn-green my-auto py-3">Nouvelle formation</a>
                {% endif %}
            </div>
        </div>
    </div>

    {# Liste des formations #}
    <section class="pl-20 pt-12 w-4/5">

        {# Alerte en cas de succès #}
        {% include 'components/_alert.html.twig' with { 'flashes': app.flashes('success'), 'type': 'success' } only %}

        {% if trainings|length > 0 %}
            <table class="w-full">
                <tbody>
                {% for training in trainings %}
                    <tr class="border-b border-gray-200 hover:bg-gray-50">
                        <td class="p-4 w-1/12">
                            <img
                                data-controller="symfony--ux-lazy-image--lazy-image"
                                src="{{ asset('imgs/placeholder-75.svg') }}"
                                data-hd-src="{{ asset_image(asset('uploads/trainings/'~ training.picture), { 'w': 100 }) }}"
                                alt="{{ training.name }}" class="rounded-lg"
                            >
                        </td>
                        <td class="text-left">
                            <a href="{{ path('admin_training_edit', { id: training.id }) }}" class="text-blue-500 hover:text-blue-300">{{ training.name }}</a>
                        </td>
                        <td>Nb chapitres : <span class="text-gray-400">{{ training.chapters|length }}</span></td>
                        <td>Crée le : <span class="text-gray-400">{{ training.createdAt|date('d-m-Y') }}</span></td>
                        <td class="pr-4">
                            {% if training.chapters|length <= 1 %}
                                <span class="flex items-center justify-center rounded-full text-red-700 bg-red-100 text-sm font-medium px-4 py-1">
                                    Hors ligne
                                </span>
                            {% endif %}
                        </td>
                        <td class="pr-4">
                            {% if training.infos %}
                                <span class="flex items-center justify-center rounded-full text-yellow-700 bg-yellow-100 text-sm font-medium px-4 py-1">
                                    Infos
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="float-left my-12">
                {{ knp_pagination_render(trainings) }}
            </div>
        {% else %}
            <div class="mt-28">
                <p class="text-4xl font-black mb-6">Ah ben... pas de formations 🥲</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
