{% extends 'layouts/admin/default.html.twig' %}

{% block title %}Édition de "{{ page.title }}" - {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr': { 'id': 'form-admin' }}) }}
        <div class="h-44 bg-gray-100 my-auto pt-16">
            <div class="pl-20 w-4/5">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <a href="{{ path('admin_page_list') }}" class="text-red-500 hover:text-red-300 transition ease-in-out mt-1 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-7 w-7">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                            </svg>
                        </a>
                        <h1 class="text-5xl text-gray-700">Édition d'une page</h1>
                    </div>
                    <div class="flex items-center space-x-4">
                        <a href="{{ path('admin_page_list') }}" class="btn btn-outline my-auto py-3">Annuler</a>
                        <button class="btn btn-green my-auto py-3">Sauvegarder les changements</button>
                    </div>
                </div>
            </div>
        </div>

        {# Formulaire de modification d'une page #}
        <section class="pt-12 pl-20 w-4/5">

            {# Alerte en cas de succès #}
            {% include 'components/_alert.html.twig' with { 'flashes': app.flashes('success'), 'type': 'success' } only %}

            <div class="flex items-center space-x-4">
                <div class="flex-1 mb-6">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    <span class="errors">{{ form_errors(form.title) }}</span>
                    <p class="pt-1">
                        {% if page.redirectPermanentlies|length >= 1 %}
                            {% for redirect in page.redirectPermanentlies %}
                                <a href="{{ url('pages', {slug: redirect.oldSlug}) }}" class="text-sm text-blue-600 hover:text-blue-300">
                                    {{ url('pages', {slug: redirect.oldSlug}) }}
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                                </svg>
                            {% endfor %}
                        {% endif %}
                        <a href="{{ url('pages', {slug: page.slug}) }}" class="text-sm text-blue-600 hover:text-blue-300">
                            {{ url('pages', {slug: page.slug}) }}
                        </a>
                    </p>
                </div>
                <div class="mb-6">
                    {{ form_label(form.isVisible) }}
                    <label for="page_isVisible" class="cursor-pointer mt-4">
                        <div class="relative">
                            {{ form_widget(form.isVisible, { 'attr': { 'class': 'hidden' }}) }}
                            <!-- inner line -->
                            <div class="toggle_line w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
                            <!-- dot -->
                            <div class="toggle_dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
                        </div>
                    </label>
                    <span class="errors">{{ form_errors(form.isVisible) }}</span>
                </div>
            </div>
            <div class="mb-6">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': { 'rows': 20 }}) }}
                <span class="errors">{{ form_errors(form.content) }}</span>
                <span class="block text-sm text-gray-400 mt-1">
                    Écrire l’article en markdown. Besoin d’aide ?
                    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="block text-blue-500 group-hover:text-blue-300">
                        https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
                    </a>
                </span>
            </div>
        </section>
    {{ form_end(form) }}

    <section data-controller="modal" class="ml-20 mb-20 pt-6 w-4/5">
        <h3 class="text-4xl font-bold border-b border-gray-300 mb-6 pb-2">
            Actions
        </h3>
        <button type="button" data-action="modal#show_delete" class="btn btn-red">
            Supprimer cette page
        </button>
        <a href="{{ path('pages', { slug: page.slug }) }}" class="btn btn-outline py-3">
            Voir la page en ligne
        </a>
        {% include 'components/modal/_delete_page.html.twig' %}
    </section>
{% endblock %}
